/* Styles for Currency Converter */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.navbar {
  width: 100%;
  text-align: center;
  background-color: #1b2158;
  padding: 10px;
  margin-bottom: 20px;
}

h1{
  color:white
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  

}

.item1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.opt-1, .opt-2 {
  margin: 0 20px;
}

.item2 {
  text-align: center;
  margin-bottom: 20px;
}

.item3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input, .output {
  padding: 10px;
  margin: 0 10px;
}

.item4 {
  text-align: center;
}

/* Shadow box effect */
.container {
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  border: 2px solid darkslategray;
}

/* Adjusted Styles for Currency Converter */
/* ... Other styles ... */

.item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input, .output {
  padding: 10px;
  margin: 10px 0;
}




.input {
  border: 2px solid black;
  outline: none;
}

.input:hover {
  border: 2px solid darkslateblue;
}

.output {
  border: none;
  background-color: lightgray;
  color: darkred;
  font-weight: bold;
}

/* ... Other styles ... */


/* Adjust spacing and fonts as needed */
